

body, html { /* google said I had to put this in after adding <!DOCTYPE html>, because my hero image wasn't working */
  height: 100%;
  margin: 0;
  font-family: 'Oxygen', sans-serif;
}

.hero-image { /* setting the size and position of my hero image */
  background-image: url("../images/hero-image.JPG");
  height: 300px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.main-hero-text { /* Styling for the text in the main (index.html) hero text */
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: orange;
}

body { /* Styling for the text in the main (index.html) body */
  text-align: center;
  color: black;
}

p {
  margin-left: 10px;
  margin-right: 10px;
}

.lots-of-text {
  width: auto;
  margin-left: 25%;
  margin-right:25%;
  text-align: left;
}

.blog-list { /* aligns blog list text to the left so the bullet points look normal */
  text-align: left;
}

.blog-list { /* Creating a border around the blog list, also position w/ margin: auto; */
  width: 33%;
  border-style:solid;
  border-color: grey;
  margin: auto;
}

footer { /* creating the footer */
  color: white;
  text-align:center;
  border-style: solid;
  margin-top: 20px;
  font-family: 'Lobster', cursive, sans-serif;
}

.margin-border-padding { /*Here we are calling the Class for that specific paragraph.*/
  width: 33%;                 /*Setting the width of the whole box to 33% of the screen size.*/
  background-color: aqua;   /*Background color of the box.*/
  margin: auto;               /*Setting ALL margins to be automatic - this centers the box in the page.*/
  margin-top: 50px;           /*Setting TOP margin to be 50px - this gives a gap above the box on the page.*/
  margin-bottom: 50px;        /*Setting BOTTOM margin to be 50px - this gives a gap below the box on the page.*/
  border-style: dashed;       /*What the border looks like, it could be dotted, solid color, etc.*/
  border-color: coral;      /*Border color.*/
  border-width: 10px;         /*Thickness of the border.*/
  padding: 30px;              /*Gap between the text and the edge of the box.*/
}

.no-margin-border-padding {
  background-color: aqua;
  margin: 0;
}

/* @media - changing footer color depending on minimum/maximum screen size */
@media (min-width:320px), (max-width:767px) {
  footer {background: orange; border-color: navy;}
}

@media (min-width:768px), (max-width:1199px) { 
  footer {background: purple; border-color: black;} 
}

@media (min-width:1200px) {
  footer {background: navy; border-color: orange;}
}